.checkoutproduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.checkout__info{
    padding-left:20px;

}
.checkout__info > button {
    background:#f0c14b;
    border: 1px solid;
    margin-top:10px;
    border-color:#a99734 #846a29;
    color:#111;
}
.checkout__image{
    object-fit:contain;
    height:180px;
    width: 180px;
} 
.checkout__producttitle{
    font-size: 17px;
    font-weight: 700;
}